@model UserModel

@{
    Layout = "../Shared/_LayoutLogin.cshtml";

    ViewData["Title"] = "Register";
}
<div class="mainContainer text-center">
    <img src="~/images/logo.png" class="logoImage img-fluid" />
    <div class="loginContainer">

        <h3>Create New Account</h3>
        <form asp-controller="User" asp-action="Register" class="text-left">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success btn-block">Register</button>

        </form>
    </div>
</div>
