@{
    ViewData["Title"] = "Contact Developer";
}
<h2>@ViewData["Title"]</h2>

<div class="contactPage">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/images/developer.jpg" class="developerPhoto" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Daniel Dias</h2>
            <address>
                <strong>Porfolio:</strong> <a href="http://dndias.com" target="_blank">dndias.com</a><br />
                <strong>Phone:</strong> <a href="tel:2898852240">+1 (289)885-2240</a><br />
                <strong>Email:</strong> <a href="mailto:contact@dndias.com">contact@dndias.com</a>
            </address>
        </div>
    </div>
</div>


