
@{
    ViewData["Title"] = "Menu";
}

<h2 class="text-center">Menu</h2><br />

<div class="row">
    
    <div class="col-sm-4 text-center menuItem">
        <a href="../Account/Index">
            <img src="~/images/account.png" alt="Create a New Account" />
            <h3>Accounts</h3>
        </a>
    </div>
    
    <div class="col-sm-4 text-center menuItem">
        <a href="../Category/Index">
            <img src="~/images/category.png" alt="Categories" />
            <h3>Categories</h3>
        </a>
    </div>
    <div class="col-sm-4 text-center menuItem">
        <a href="../Transaction/Index">
            <img src="~/images/transaction.png" alt="Register Transaction" />
            <h3>Transactions</h3>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 text-center menuItem">
        <a href="../Transaction/Statement">
            <img src="~/images/statement.png" alt="Generate Statement" />
            <h3>Statements</h3>
        </a>
    </div>
    <div class="col-sm-6 text-center menuItem">
        <a href="../Dashboard/Index">
            <img src="~/images/dashboard.png" alt="Dashboard" />
            <h3>Dashboard</h3>
        </a>
    </div>
</div>


